html {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: black; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

h2{
  font-family: 'Kanit', sans-serif;
  color: aliceblue;
  margin: 0;
  font-size: 2.7em;
  text-shadow: -3px 0px 20px rgb(25, 79, 228);
}



p{
  font-family: 'Kanit', sans-serif;
  
  color: rgb(25, 79, 228);
  margin: 0;
  font-size: 1.3em;
  text-shadow: 0px 0px 9px rgb(25, 79, 228);
}

/*  Homepage Styling   */

.homeVideo {
  width: 100%;
  padding:0;
  opacity:40%;
  
}
.Box {
  display: flex;
  align-items: center;
  gap: 7em;
  padding-top: 4.5em;
  padding-left: 3em;
}

.transitionBox {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin-right: 4em;
  transition: transform 1.3s ease;
}

.pieceTransition {
  transition: transform 2s ease;
}

.puzzleColBox {
  display: flex; 
  flex-direction: column;
}

.puzzlecontentBox {
  display: flex;
  flex-direction: column;
  background: black;
  width: 31em;
  border-top: 2px solid rgb(25, 79, 228);
  border-right: 2px solid rgb(25, 79, 228);
  min-height: 25em;
  margin-left: 11px;
  align-items: center;
  justify-content: center;
}

.contentCenteredBox {
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  display: flex;
  height: 95%;
  width: 95%;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

.schoolBox {
  display: flex; 
  align-items: center; 
  gap: 10px;
}

.socialBox { 
  display: flex; 
  flex-direction: column; 
  margin-top: 2.5em;
}

.innerSocialBox {
  display: flex; 
  flex-direction: row;
}
.linkIcon {
  font-size: 5em;
  color:aliceblue;
  position:absolute;
  z-index:100;
}
.RightBox {
  width: 2em;
  height: 24.88em;
  background-color: black;
  transform: skew(0deg,-47deg);
  margin-right: -11px;
  margin-top: 19px;
  border: 2px solid rgb(25, 79, 228);
}

.bottomBox {
  width: 31em;
  height: 2.18em;
  transform: skew(-42deg);
  background-color: black;
  margin-left: -8px;
  border: 2px solid rgb(25, 79, 228);
}

.puzzleBox {
  display: flex;
  flex-direction: column;
  width: 60em;
  background-color: transparent;
  margin-top: 1em;
}

.rowPuzzleBox {
  display: flex;
}

.rowPuzzleBox:hover {
  cursor: pointer;
}

@media (min-width:1190px) and (max-width: 1250px) {
  .Box {
    gap: 1.5em;
  }
}
@media (max-width: 1191px) {
  .Box {
    gap: 7vw;
  }
}

@media (max-width: 1100px) {
  .Box {
    gap: 1vw;
  }
}
@media (max-width: 1050px) {
  .Box {
    flex-direction: column;
    gap: 9em;
  }
  .puzzleBox {
    display: flex;
    flex-direction: column;
    width: 60em;
    background-color: transparent;
    align-items: center;
    margin-top: 1em;
  }
  .pieceTransition {
    transition: transform 0s ease;
  }

  .homeVideo {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 620px) {
  .RightBox {
    width: 2em;
    height: 24.88em;
    transform: skew(0deg,-47deg);
    margin-right: -11px;
    margin-top: 19px;
  }
  
  .bottomBox {
    width: 85vw;
    height: 2.18em;
    transform: skew(-42deg);
    background-color: black;
    margin-left: -8px;
    border: 2px solid rgb(25, 79, 228);
  }
  .puzzlecontentBox {
    width: 85vw;
    border-top: 2px solid rgb(25, 79, 228);
    border-right: 2px solid rgb(25, 79, 228);
    min-height: 25em;
    margin-left: 11px;
    align-items: center;
    justify-content: center;
  }
  .fullName {
    font-size: 7vw;
  }

  .keyWord {
    font-size: 3.5vw;
  }

  .innerSocialBox {
    font-size: 3.2vw;
  }
  .linkIcon {
    font-size: 0.5vw;
  }

  .homeVideo {
    height: 100%;
    width: auto;
  }

}
/* Animations */
.spinDiv {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}
.spinDiv:hover {
  cursor: 'pointer';
}

.hoverSpinDiv {
  animation-name: balance;
  animation-duration: 0ms;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.rotateDiv {
  animation-name: rotate;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}

@keyframes rotate {
  from {
      transform:rotateY(0deg);
  }
  to {
      transform:rotateY(360deg);
  }
}

.pieceText {
  color:rgb(90, 126, 225);
  font-size:2.2em;
   text-shadow: 0px 0px 0px black;
}
.icon {
  color: rgb(90, 126, 225);
  font-size: 2.4em !important;
}
.x-widgetsIcon {
  color: rgb(90, 126, 225);
  font-size: 4.5em !important;
  margin-right: 0.45em;
  margin-top: 0.2em;
  transform: rotate(270deg);
}

.x-personIcon {
  color: rgb(90, 126, 225);
  font-size: 5em !important;
  margin-right: 0.3em;
  margin-top: 0.2em;
  transform: rotate(90deg);
}

.hoverDiv:hover {
  cursor: pointer;
  
}
.rowPuzzleBox:hover .pieceText{
  color: rgb(198, 228, 253);
}

.rowPuzzleBox:hover .icon{
  color: rgb(198, 228, 253);
}

.rowPuzzleBox:hover .x-widgetsIcon{
  color: rgb(198, 228, 253);
}

.rowPuzzleBox:hover .x-personIcon{
  color: rgb(198, 228, 253);
}


.rowPuzzleBox:hover .personIcon{
  color: rgb(198, 228, 253);
}



.transitionPlatform:hover .rotateDiv {
  animation-name: rotate;
  animation-duration: 0ms;

}

.glowDiv {
  border: 1px solid rgb(90, 126, 225);
  padding: 1em;
  box-shadow: 0px 1px 12px 1px rgb(25, 79, 228), inset 0px 1px 12px 1px rgb(25, 79, 228);
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.glowDiv1 {
  border: 1px solid rgb(90, 126, 225);
  box-shadow: 0px 1px 12px 1px rgb(25, 79, 228), inset 0px 1px 12px 1px rgb(25, 79, 228);
  padding: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -2em;
}

.transitionPlatform:hover .glowDiv {
  box-shadow: 0px 1px 12px 3px rgb(25, 79, 228), inset 0px 1px 12px 3px rgb(25, 79, 228); 
}
.transitionPlatform:hover .glowDiv1 {
  box-shadow: 0px 1px 12px 3px rgb(25, 79, 228), inset 0px 1px 12px 3px rgb(25, 79, 228); 
}

.balanceDiv {
  animation-name: balance;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  flex-direction:column; 
  align-items:center;
  gap:10px;
  margin-top:3em;
}

.projectNavSection {
  display:flex;
  flex-direction:column;
  gap:15px;
}

.balanceDiv:hover{
  animation-duration: 0ms;  
}



@keyframes balance {
  0% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.budgitNavigation {
  display: flex;
  background-color: black;
  height: 11vh;
  border: 2px solid rgb(25, 79, 228);
  justify-content: center;
  align-items: center;
  gap: 1vw;
  max-width: fit-content;
  border-radius: 0.5em;
  padding-right: 1vw;
  padding-left: 1vw;
  margin-left: 4vw;
  box-shadow: -5px 5px 0px rgb(90, 126, 225);
}

.budgitNavigation:hover {
  cursor: pointer;
}

.budgitNavigation:hover .hoverSpinDiv{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.campuslinkNavigation {
  display: flex;
  background-color: black;
  height: 11vh;
  border: 2px solid rgb(25, 79, 228);
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-left: 2vw;
  border-radius: 0.5em;
  max-width: fit-content;
  padding-right: 1vw;
  padding-left: 1vw;
  box-shadow: -5px 5px 0px rgb(90, 126, 225);
}

.campuslinkNavigation:hover {
  cursor: pointer;
}

.campuslinkNavigation:hover .hoverSpinDiv{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.personalNavigation {
  display: flex;
  background-color: black;
  height: 11vh;
  border-radius: 0.5em;
  border: 2px solid rgb(25, 79, 228);
  justify-content: center;
  box-shadow: -5px 5px 0px rgb(90, 126, 225);
  align-items: center;
  gap: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;
}

.personalNavigation:hover {
  cursor: pointer;
}

.personalNavigation:hover .hoverSpinDiv{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.websiteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.websiteHeader:hover {
  cursor: pointer;
}

