.App { 
  height: 100vh;
  width: 100vw;
}


h2{
  font-family: 'Kanit', sans-serif;
  color: aliceblue;
  margin: 0;
  font-size: 2.7em;
  text-shadow: -3px 0px 20px rgb(85, 9, 185);
}



p{
  font-family: 'Kanit', sans-serif;
  
  color: rgb(85, 9, 185);
  margin: 0;
  font-size: 1.3em;
  text-shadow: 0px 0px 9px rgb(85, 9, 185);
}

.spinDiv {
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}

.spinDiv:hover {
  cursor: 'pointer',
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}